*{padding:0; margin:0; border:0;}
*,*:before,*::after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; box-sizing: inherit;}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
nav,footer,head,aside {display: block;}
html,body {height: 100%;width: 100%;font-size: 100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-mos-focus-inner {padding: 0;border: 0;}
a,a:visited {text-decoration: none; color: inherit;}
a:hover {text-decoration: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}
ul {list-style-type: none;}

body {
	/* font-family: 'Space Grotesk', sans-serif; */
	font-family: 'Victor Mono', monospace;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 1,2;
	letter-spacing: 0.2em;
	background-color: #4e4d4d;
	color: black;
	background-color: #1c1c1c;
}

.header {
	background-color: #1c1c1c;

}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 10px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu__button {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 28px;
	background-color: transparent;
	padding: 0;
}

.menu__button span{
	height: 1px;
	width: 100%;
	background-color: rgb(131, 237, 2);
}

.menu__list {
	display: flex;
	gap: 30px;
}

.menu__list-link {
	text-transform: uppercase;
	color: rgb(131, 237, 2);
	font-size: 18px;
}

.phone {
	text-transform: uppercase;
	color: rgb(131, 237, 2);
	position: relative;
}

.phone:before {
	content: '';
	background-image: url(img/icon/logo_tel.png);
	background-size: cover;
	position: absolute;
	left: -30px;
	top: -1px;
	width: 20px;
	height: 20px;
}



















.dream {
	background: url(img/picture.png) 50% 50%/cover no-repeat;
	height: 500px;
	display: flex;
	align-items: center;
}

.dream__container {
	margin: 15px;
}

.dream__content {
	background-color: rgba(131, 237, 2, 0.3);
	margin: 0 auto;
	width: 70%;
	border-radius: 25px;
}

.dream__title {
	padding: 10px;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 0.2em;
	color: rgb(0, 0, 0);
	text-align: center;
	text-transform: uppercase;
	text-shadow: 3px 3px 6px #011f02;
}





.about__container {
	display: flex;
	justify-content: center;
}

.about__img {
	max-width: 400px;
}

.about__img img {
	width: 100%;
}

.about__content {
	padding: 10px;
	background-color: rgba(131, 237, 2, 0.3);
}

.about__content h1 {
	padding: 10px;
	font-family: 'Space Grotesk', sans-serif;
	font-size: 28px;
	font-weight: 400;
	line-height: 1,4;
	letter-spacing: 0.3em;

}

.about__content p {
	padding: 10px;
}




/* .about__row {
	display: flex;
	justify-content: center;
	margin: 30px 0 40px 0;
}

.about__photo {
	max-width: 25%;
	border-radius: 50%;
	overflow: hidden;
	margin: 5px;
}

.about__photo img{
	width: 100%;
}

.about__content {
	background-color: rgba(131, 237, 2, 0.3);
	border-radius: 10%;
	margin: 5px 5px 5px 40px;
	max-width: 50%;
	padding: 20px;
}

.about__name h1 {
	color: rgb(131, 237, 2);
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 0.4em;
}

.about__name p {
	color: rgb(131, 237, 2);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2em;
	margin: 10px 0 20px 0;
}

.about__text {
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.1em;
}

.education__row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0 0 0;
}

h3 {
	color: rgb(131, 237, 2);
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.3em;
	text-align: center;
	padding: 10px 0 20px 0;
}

.education__picture {
	max-width: 12%;
	margin: 5px;
}

.education__picture img {
	max-width: 120px;
}

.education__content {
	margin: 0 60px 0 20px;
	background-color: rgba(131, 237, 2, 0.3);
	border-radius: 5%;
	flex: 0 0 35%;
}

.education__lang {
	margin: 0 0 10px 0;
	background-color: rgba(131, 237, 2, 0.3);
	border-radius: 5%;
	flex: 0 0 35%;
}

.education__list li {
	color: rgb(5, 5, 5);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2em;
	margin: 10px 0 10px 20px;
}

ol {
	margin: 10px;
}

ol li {
	color: rgb(5, 5, 5);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2em;
	margin: 10px 0 10px 20px;
}

.skills__title {
	margin: 40px 0 0 0;
}

.skills__row {
	display: flex;
	justify-content: center;
}

.skills__columns {
	flex: 0 1 30%;
	display: flex;
}

.skill__item {
	display: flex;
	flex: 0 1 25%;
}

.skill__image {
	max-height: 200px;
	width: 30%;
}

.skill__image img {
	height: 80%;
}

.item__body {
	margin: 0 0 10px 0;
	background-color: rgba(131, 237, 2, 0.3);
	border-radius: 5%;
}

.item__title {
	margin: 5px 5px 20px 5px;
}

.item__title h4 {
	color: rgb(131, 237, 2);
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.3em;
	text-align: center;
	padding: 10px 0 20px 0;
}

.text li {
	color: rgb(5, 5, 5);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2em;
	margin: 10px 0 10px 20px;
} */



.footer {
	background-color: #1f1e1e;
}

.container__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__date {
	margin: 0 30px 0 110px;
}

.footer__date p {
	color: rgb(131, 237, 2);
	text-align: center;
	padding-top: 10px;
}

.footer__date p:first-child {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	padding-top: 0;
	color: rgb(237, 98, 98);
}

.footer__contacts {
	display: flex;
	flex-direction: column;
}

.footer__social {
	display: flex;
	gap: 15px;
	padding-top: 20px;

}

.email {
	padding: 20px 0;
}

.phone-telegram {
	position: relative;
	text-align: left;
	color: rgb(131, 237, 2);
}

.phone-telegram:before {
	content: '';
	background-image: url(img/icon/icon_telegram.png);
	background-size: cover;
	position: absolute;
	left: -40px;
	top: -4px;
	width: 23px;
	height: 23px;
}

.email {
	position: relative;
}

.email:before {
	content: '';
	background-image: url(img/icon/icon_email.png);
	position: absolute;
	left: -40px;
	top: 12px;
	width: 29px;
	height: 29px;
}

.icon_git {
	padding: 0 20px;
}








@media(max-width: 1000px) {
	.menu__list {
		width: 150px;
		background-color: #012906;
		flex-direction: column;
		gap: 30px 0;
		padding: 40px 25px;
		text-align: center;
		position: absolute;
		top: 60px;
		right: 0;
		transform: translateY(-200%);
		transition: transform .5s ease;
	}

	.menu__list.menu__active {
		transform: translateY(0%);
	}

	.menu__button {
		display: flex;
		padding: 0 15px 0 0;
	}

	.menu {
		order: 1;
	}

}


@media(max-width: 768px) {
	.menu__button {
		padding: 0 5px 0 0;
	}
	
	.container__footer {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.footer__contacts {
		width: 100%;
	}

	.footer__social {
		justify-content: center;
	}

	.phone-telegram {
		text-align: center;
		font-size: 14px;
	}

	.phone-telegram:before {
		background-image: none;
	}

	.footer__date {
		text-align: center;
		padding: 30px 0;
		margin: 0;
		font-size: 12px;
	}
	
	.footer__date p {
		text-align: center;
		padding-top: 10px;
		font-size: 12px;
	}

	.footer__date p:first-child {
		font-size: 14px;
	}

	.dream {
		height: 500px;
	}
	
	.dream__container {
		margin: 10px;
	}
	
	.dream__content {
		border-radius: 15px;
	}
	
	.dream__title {
		padding: 10px;
		font-size: 25px;
		text-shadow: 2px 2px 4px #011f02;
	}
}

@media(max-width: 480px) {
	.phone {
		font-size: 10px;
		line-height: 0,8;
		letter-spacing: 0.1em;
	}
	
	.phone:before {
		left: -15px;
		top: -3px;
		width: 15px;
		height: 15px;
	}

	.logo img {
		width: 80px;
	}

	.phone-telegram {
		font-size: 10px;
		line-height: 0,8;
		letter-spacing: 0.1em;
	}

	.dream__title {
		font-size: 20px;
	}
}

@media(max-width: 360px) {
	.dream__title {
		font-size: 16px;
	}
}
