*{padding:0; margin:0; border:0;}
*,*:before,*::after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
nav,footer,head,aside {display: block;}
html,body {height: 100%;width: 100%;font-size: 100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-mos-focus-inner {padding: 0;border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #4e4d4d;
}

.wrapper {
	max-width: 1440px;
	height: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #ffffff;
}

.header {
	background-color: #1c1c1c;
}

.header__container {
	height: 40px;
	display: flex;
	justify-content: space-between;
}

.header__logo {
	height: 90%;
}

.header__logo img {
	height: 100%;
	margin: 5px 40px 5px 20px;
	opacity: 0.5;
}

.header__nav {
	height: 90%;
}

.header__list {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	margin: 10px 0 0 0;
}

.header__list li {
	display: flex;
	justify-content: space-around;
	color: rgb(131, 237, 2);
	margin: 5px 40px 5px 0;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.header__list li:last-child {
	margin: 5px 20px 5px 0;
}

.header__line {
	width: 99%;
	margin: 0 auto;
}

.line {
	margin: 3px 0 3px 0;
	border: 1px solid rgb(131, 237, 2);
}

.content {
	height: 100%;
	background-color: black;
}

.main__container {
	height: 100%;
	background: url('img/p.png'), url('img/picture.png') 0 0/100% auto;
	margin: 1px;
}

.title {
	padding: 20px 0 0 0;
}

.title h2 {
	color: rgb(131, 237, 2);
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.3em;
	text-align: center;
}

.title__line {
	width: 5%;
	margin: 0 auto;
}

.line1 {
	width: 100%;
	border: 1px solid rgb(131, 237, 2);
	margin: 10px 0 0 0;
}

.about__row {
	display: flex;
	justify-content: center;
	margin: 30px 0 40px 0;
}

.about__photo {
	max-width: 25%;
	border-radius: 50%;
	overflow: hidden;
	margin: 5px;
}

.about__photo img{
	width: 100%;
}

.about__content {
	background-color: rgba(131, 237, 2, 0.3);
	border-radius: 10%;
	margin: 5px 5px 5px 40px;
	max-width: 50%;
	padding: 20px;
}

.about__name h1 {
	color: rgb(131, 237, 2);
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 0.4em;
}

.about__name p {
	color: rgb(131, 237, 2);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2em;
	margin: 10px 0 20px 0;
}

.about__text {
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.1em;
}

.education__row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0 0 0;
}

h3 {
	color: rgb(131, 237, 2);
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.3em;
	text-align: center;
	padding: 10px 0 20px 0;
}

.education__picture {
	max-width: 12%;
	margin: 5px;
}

.education__picture img {
	max-width: 120px;
}

.education__content {
	margin: 0 60px 0 20px;
	background-color: rgba(131, 237, 2, 0.3);
	border-radius: 5%;
	flex: 0 0 35%;
}

.education__lang {
	margin: 0 0 10px 0;
	background-color: rgba(131, 237, 2, 0.3);
	border-radius: 5%;
	flex: 0 0 35%;
}

.education__list {
	list-style-type: none;
}

.education__list li {
	color: rgb(5, 5, 5);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2em;
	margin: 10px 0 10px 20px;
}

ol {
	margin: 10px;
}

ol li {
	color: rgb(5, 5, 5);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.2em;
	margin: 10px 0 10px 20px;
}





.footer {
	height: 100px;
	background-color: #5e5f61;
}


/* body {
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
max-width: 1920px;
margin: 0 auto;
}

main {
	flex: 1 1 auto;
}

.header {
	background-color: rgb(155, 155, 155);
	padding: 10px 0;
}

.header__row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__icon {
	flex: 0 0 50px;
}

.header__title {
	color: rgb(5, 5, 5);
	font-size: 12px;
	line-height: 36px;
}

.icon_js {
	height: 50px;
	margin: 0 10px 0 0;
}

.footer {
	background-color: rgb(131, 129, 129);
}

.footer__row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 50px;
}

.footer__row p {
	font-size: 14px;
	letter-spacing: 0.3px;
	padding: 5px;
	}

	.footer__row a {
		font-size: 14px;
		letter-spacing: 0.3px;
		padding: 45px;
		}

.columns__row {
	display: flex;
	}

.side {
	flex: 0 1 15%;
	align-self: center;
	height: 620px;
	background-color: rgb(238, 239, 238);
	margin: 10px 0 0 0;
}

.list {
	margin: 50px 0 0 0;
}

.list li {
	font-size: 18px;
	line-height: 22px;
	margin: 0 0 10px 0;
	text-align: center;
}

.info {
	padding: 10px;
}

.info__row {
	display: flex;
}

.info__image {
	flex: 0 0 150px;

}

.info__image img{
	width: 400px;
	padding: 20px;
}

.info__image li {
	font-size: 16px;
	margin: 0px 30px;
	line-height: 20px;
	color: rgb(5, 5, 5);
}

.info__image h2 {
	font-size: 24px;
	margin: 10px 30px;
	color: rgb(121, 37, 1);
}

.info__body {
	flex: 1 1 auto;
	padding: 20px;
}

.info__title {
	color: rgb(79, 4, 73);
	font-size: 20px;
	line-height: 30px;
	margin: 0 0 13px 0;
}

.info__text {
	color: rgb(62, 62, 63);
	font-size: 16px;
	line-height: 24px;
}

.info__text p {
	margin: 0 0 15px 0;
}

.info__text li {
	font-size: 16px;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 18px;
}

code {
	font-size: 16px;
}

.code {
	background-color: rgb(5, 5, 5);
	color: rgb(119, 120, 120);
	width: 25%;
	padding: 10px;
}
 */
